*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: teal;
}
/* header */
.header {
    color: teal;
    background-color:  #E2D1F9;
    text-align: center;
    padding: 30px;
}

/* main */
main {
    color: lavender;

    display: flex;
    /* grid-template-columns: 1fr; */
    flex-direction: column;
    /* gap: 50px; */
}

/* button  */
.addbookbtn {
    color: lavender;
    background-color: teal ;
    border: none;
    font-size: 40px;
    padding: 10px;
    /* align-items: center; */
}
/* form */
.form {
    /* display: none; */
    position: fixed;
    left: 50%;
    top: 50%;
    transform:  translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color:  #f0eef1;
    width: 300px;
    max-width: 80%;
    color: black;
    display: flex;
    flex-direction: column;
}

.form.active {
    transform: translate(-50%,-50%) scale(1);
}

.form-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.form-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.form-header .close-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 20px;
    font-size: larger;
    /* text-transform: uppercase; */
}
.form-content .text-input {
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
    padding: 10px;
}
.form-content .pages{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.form-content button{
     padding: 10px;
     color: teal;
     font-size: 20px;
     background-color: lavender;
     border-radius: 10px;
     border-style: none;
}


.overlay{
    /* opacity: 1; */
    background-color: black;
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    pointer-events: none;
    background-color: rgb(0, 0, 0,0.5);


}
.active {
    opacity: 1;
    pointer-events: all;
}
/* .active{
    display: none;
} */
/* books display */
.displaybookcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    /* grid-template-rows: repeat(2, 1fr); */
    /* row-gap: 20px; */
    gap: 10px;
}


.book {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: wheat;
    box-shadow: 0px 0px 10px red;
    line-height: 1.2;
    text-align: center;
    margin: 20px;
}
.book div {
    background-color:rgb(177, 72, 72);
    color: black;
    border-radius: 20px;
    font-size: 30px;
    font-weight: bolder;


    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-color: white;
    color: teal;
    gap: 20px; */


}
